In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,100k cycle,40k cycle,22k cycle,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,years,years (5k),radians,NaN,NaN,NaN,100k period,40k period,22k period,composite
1,400000,0,0,0.000000,0.000000,NaN,0,0.005235722,0.006980963,0.012216685
2,395000,1,0.314159265,0.785398,1.427997,NaN,0.309016994,0.21580194,0.39686177,0.921680704
3,390000,2,0.628318531,1.570796,2.855993,NaN,0.587785252,0.299954309,0.105977675,0.993717235
4,385000,3,0.942477796,2.356194,4.283990,NaN,0.809016994,0.208397511,-0.366697378,0.650717127